.Sidebar {
    background-color:rgb(46, 97, 97);
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    width: 200px;
    display: flex;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;

}

.row {
    width: auto;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row:hover {
    cursor: pointer;
    background-color:darkgrey;
}

.SidebarList #active {
    background-color: darkgrey;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;

}